<form action="/data" method = "POST">
    <p>Last.fm username: <input type = "text" name = "username" /></p>
    <p>Number of entries: <input type = "text" name = "limit" /></p>
    <p>Year of release: <input type = "text" name = "release_year"/></p>
    <p>Relase type:
    <input type="radio" id="albums" name="releasetype" value="album">
    <label for="albums"> Albums</label>
    <input type="radio" id="tracks" name="releasetype" value="track">
    <label for="tracks">Tracks</label></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>